services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    volumes:
      - .:/app
      - ./instance:/app/instance
    environment:
      - FLASK_ENV=development
    depends_on:
      - ssr
    # Открываем stdin для интерактивного ввода при авторизации
    stdin_open: true
    tty: true

  ssr:
    build:
      context: ./tg-offliner-frontend
      dockerfile: Dockerfile.ssr
    ports:
      - "3000:3000"
    working_dir: /app
    command: npm run dev
    volumes:
      - ./tg-offliner-frontend:/app
      - /app/node_modules