@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
  size: A4;
  margin-top: 10pt;
  margin-bottom: 10pt;
  margin-left: 20pt;
  margin-right: 20pt;
}

@layer components {
}

