@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Дефолтные настройки @page для PDF, будут переопределены inline стилями из БД */
@page {
  size: A4;
  margin: 20mm;
}

@layer components {
}

